@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
  height: 5rem;
  background: rgb(3, 3, 252);
  position: sticky;
  background-attachment: fixed;
  top: 0;
  z-index: 1000;
}
.nav-links ul {
  display: flex;
}
.nav-links ul li {
  margin: 0 1.5rem;
}
.nav-links ul li > a {
  color: #ffff;
  transition: all 0.5s ease-in-out;
}
.nav-links ul li > a:hover {
  color: #fff;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

section {
  background: rgb(252, 252, 252);
  height: 100vh;
}
.the-sections {
  padding: 5rem 3rem;
}
#Acceuille {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
.mon-image {
  margin-right: 5rem;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.passion {
  font-weight: 500;
}
.Acceuille-texte {
  text-align: center;
}
.about-texte {
  line-height: 2.5rem;
}
.About-btn {
  height: 50px;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 1.7rem;
  text-align: center;
  background: rgb(3, 3, 252);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2.5rem;
}
.About-btn > a {
  color: #ffff;
}
.audio {
  margin-top: 1rem;
  z-index: 1;
}
.Competences-Logo {
  width: 50px;
  height: 50px;
}
.parcoursCompetences-Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.parcousCompetences {
  background-image: linear-gradient(
    to bottom right,
    #0011ffe5,
    #010333dc,
    #f7021fd7
  );
}
.parcousCompetences > p {
  margin-top: 4rem;
}
.Box-item {
  width: 50%;
}
.Box-item h3 {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration-line: underline;
  padding-bottom: 1rem;
}
.Box-item ul li {
  margin-bottom: 1.5rem;
}
.Box-item:nth-child(1) a {
  color: #000;
}
.Box-item:nth-child(2) ul li {
  display: flex;
  gap: 30px;
}
.Box-item:nth-child(2) ul li > p {
  padding-top: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
/************ Projects style***********/
.projects-image {
  width: 350px;
  height: 250px;
  border-radius: 10px 10px 0 0;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 359px);
  justify-content: center;
  gap: 100px;
  margin-top: 3rem;
}
#Projets {
  height: auto;
}
.card {
  border-radius: 10px;
  border: solid 4px #0303fc;
  transition: all 0.5s ease-in;
}
.card:hover {
  background: #0303fc1e;
  filter: blur(1.5px);
}
.card > a {
  color: #000;
}
.card-text {
  padding: 1rem;
}
.card-text > h3 {
  padding-bottom: 1rem;
}
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    #0011ffe5,
    #010333dc,
    #f7021fd7
  );
}
.form-box {
  width: 100%;
  padding: 1.5rem;
}
form input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: solid 2px #808080;
  padding-top: 1rem;
  background: none;
}
form label {
  font-weight: 500;
}
form legend {
  text-align: center;
}
form legend > h3 {
  font-weight: 400;
}
form .form-msg {
  width: 100%;
}
.form-msg textarea {
  width: 90%;
  height: 7rem;
  border: none;
  outline: none;
  margin-left: 1rem;
  margin-top: 1rem;
}
.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.form-btn > button {
  padding: 1rem 1.5rem;
  background-color: #ffff;
  border: none;
  border-radius: 10px;
  color: #000;
  font-weight: 500;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.form-btn > button:hover {
  background: rgb(3, 3, 252, 0.5);
}
/******
footer {
  text-align: center;
  padding: 2rem 0;
  margin-top: 2rem;
}******/
